*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main_Container__signup{
    background: #f6f6f6;
    padding: 20px 30px;
    margin: 0px auto;
    width: 400px;
    margin-top: 150px;
    border-top: 7px solid #fed700;
}
.main_Container__signup .header{
 width: 100%;
}
.main_Container__signup .header h2{
    text-align: center;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.main_Container__signup .Box{

    width: 100%;
    margin-top: 10px;
}
.main_Container__signup .Box input{
    width: 80%;
    padding: 10px 20px;
    margin-left: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
}
.main_Container__signup p{
    margin-top: 15px;
    font-size: 16px;
    color:  black;
    margin-left: 30px;
    font-weight: 600;
}
.main_Container__signup button{
  margin-top: 10px;
  margin-left: 33%;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: #fed700;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}













